<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857190480838-b5lv1ndmm3vcq9oj2r4p8c18fg04irp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857190480838-b5lv1ndmm3vcq9oj2r4p8c18fg04irp6</string>
	<key>API_KEY</key>
	<string>AIzaSyDzTHSY7AgEb36pKPod340RbORZVi5NPjY</string>
	<key>GCM_SENDER_ID</key>
	<string>857190480838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mysoft.FireDemo</string>
	<key>PROJECT_ID</key>
	<string>ios-posts-e1670</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-posts-e1670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857190480838:ios:ce69714e8b71f8a13550c7</string>
</dict>
</plist>